@using ThesisPrototype.ViewModels

@{
    ViewData["Title"] = "Dashboard";
}
@model List<ChartViewModel>



<script src="~/lib/highcharts/highcharts.js"></script>

@foreach (var chart in @Model)
{
    <div id="@chart.Id"></div>
    <script type="text/javascript">
        Highcharts.chart("@chart.Id", {
            chart: {
                type: 'spline'
            },
            title: @Html.Raw(Json.Serialize(@chart.title)),
            series: @Html.Raw(Json.Serialize(@chart.series))
         });
    </script>
}




